@import "textfield/textfield";
@import "checkbox/checkbox";
@import "radio/radio";
@import "typography/typography";

/*********************

WARNING: THIS SHOULD BE IN _textfield

*********************/

form div.input-container {
  margin  : 20px 0;
  position: relative;
  width   : 300px;

  &.right {
    text-align: right;
  }
  &.large {
    width: 100%;
  }
}

.SectionForms-checkboxes {
  display: flex;

  flex-direction: row;
}

.SectionForms-subsection {
  h2 {
    @include typo-headline();
  }
}

.SectionForms-radio {
  display: flex;

  flex-direction: row;
}

.SectionForms-expiry {
  display: flex;

  width: auto;

  flex-direction: row;

  .input-container {
    margin-right: $padding * 2;
  }

  .input-container:last-child {
    margin-right: 0;
  }
}
