@import 'typography/typography';

$html-element-bg-color: #00E5FE;
$clipboard-icon-size: 16px;

.SectionType {

}

.SectionType-typeElement {
  display: block;

  margin-bottom: $padding / 3;
}

.SectionType-htmlElement {
  min-width: $clipboard-icon-size;
  height: $clipboard-icon-size;

  padding: ($padding / 2);

  color: white;
  text-align: center;
  border-radius: $clipboard-icon-size + $padding;
  background-color: $html-element-bg-color;
}

.SectionType-itemDescrip {

}
