@import "palette/palette";

/**
 * These are defined before the stylguide_* as they are used by those files
 */

$padding: 24px;
$nav-icon-size: 24px;
$nav-font-size: 24px;

$page-bg-color: #ffffff;
$keyart-bg-color: #F5F5F5;
$keyart-text-color: #747474;
$keyart-link-color: #53B1CE;
$icon-color: #757575;
$nav-arrow-color: #b9b9b9;
$text-color: #212121;

@import "styleguide_type_section";
@import "styleguide_button_section";
@import "styleguide_nav_section";


/*************************

WARNING: THIS SHOULD BE IN A STYLEGUIDE MODULE SOMEWHERE

*************************/
pre {
  overflow-x: auto;
}


body {
  margin: 0;
  padding: 0;

  color: $text-color;
  background-color: $page-bg-color;
}

.StyleguideKeyart {

  padding: ($padding * 2) $padding $padding $padding;

  background-color: $keyart-bg-color;
  color: $keyart-text-color;

  img {
    max-width: 100%;
    padding-bottom: $padding * 2;
  }

  a {
    color: $keyart-link-color;
    text-decoration: none;
  }
}

body > section {
  padding: $padding;
  background-color: $keyart-bg-color;

  > h1 {
    @include typo-headline();
  }
}

.StyleguideNavigation {

}

.StyleguideNavigation-list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.StyleguideNavigation-list li > a{
  display: flex;

  flex-direction: row;
  align-items: center;

  padding: $padding;

  font-size: $nav-font-size;
  font-weight: 300;

  text-decoration: none;
  color: inherit;
}

.StyleguideNavigation-itemName {
  padding-right: $padding;
  padding-left: $padding;
  flex: 1;
}

.StyleguideNavigation-icon {
  fill: $icon-color;
}

.StyleguideNavigation-downArrow {
  fill: $nav-arrow-color;
}

.StyleguideNavigation-icon, .StyleguideNavigation-downArrow {
  width: $nav-icon-size;
  height: $nav-icon-size;

  svg {
    width: $nav-icon-size;
    height: $nav-icon-size;
  }
}

.StyleguideSection-subsection {
  margin-bottom: 3 * $padding;
}

.StyleguideSection-subsection:last-child {
  margin-bottom: 0;
}

.StyleguideSection-info {
  display: flex;

  flex-direction: row;

  align-items: center;

  > * {
    margin-right: ($padding / 2);
  }

  > *:last-child {
    margin-right: 0;
  }
}

.StyleguideSection-item {
  margin-bottom: $padding * 1.5;
}

.StyleguideSection-clipboardElement {
  width: $clipboard-icon-size;
  height: $clipboard-icon-size;

  padding: ($padding / 2);

  border-radius: 100%;
  background-color: white;

  svg {
    width: $clipboard-icon-size;
    height: $clipboard-icon-size;

    fill: $icon-color;
  }
}
